<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Use Of Cross Sign as </title>
    <link rel="stylesheet" href="Style.css">
    <!--<script type="text/javascript" src="DemoTime.js"></script>-->
</head>
<body>
       <!-- <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="aleert">&times;</button>
            <img class="img" src="/Users/imac/Downloads\royal.jpeg">
        </div>-->
     <p>HEllo this is the Demo Page You Donot to Panic about it</p>
       <div id="myDIV" onclick="myFunction()">ClickHere to Check the animation</div>


       <!--<p id="GFGVid"></p>-->

       <script>
           var x = document.getElementById("myDIV");
           function myFunction(){
               x.style.WebkitAnimation ="myMove 4s 2";
           }

           // Create a Map
           // class Alex{
           //     constructor(name,age,gender,year) {
           //         this.name = name;
           //         this.age = age;
           //         this.gender = gender;
           //         this.year = year;
           //     }
           //     limitYear(){
           //         let date = new Date();
           //         return date.getFullYear() - this.year;
           //     }
           // }
           // const myName = new Alex("ALex",20,"Male",2017);
           // document.getElementById("demo").innerHTML = "I am "+myName.limitYear()+"Year old"
           // class Dumy {
           //     constructor(name,year) {
           //         this.name= name;
           //         this.year = year;
           //     }
           //     age(){
           //         let dat = new Date();
           //         return dat.getFullYear() - this.year;
           //     }
           //
           // }
           // const myName= () => {
           //   new Dumy("Mayank",2000);
           // }
           // document.getElementById("demo").innerHTML = " I am Stig"+myName.age()+"Years Old"
           // var  video = document.getElementById("GFGVid");
           // video.onabort = function (){
           //     alert("Loading Aborted");
           // }
           // function myFunction()
           // {
           //     alert("This is the alert page");
           // }

       </script>
</body>
</html>