<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/validation.js}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Register Page</title>
</head>
<body>
<div th:replace="fragments/header :: header">

</div>
<div class="container mt-5">
    <div class="card" style="width: 55rem; ">
        <div class="card-header text-center bg-info ">
            <h3>Register</h3>
        </div>
        <div class="card-body">
            <form class="mx-1 mx-md-4" onsubmit="return checkFrom(this)" th:action="@{/save}" th:method="post" th:object="${consumer}">
                <div class="mb-3">
                    <label class="form-label" for="firstName">first Name </label>
                    <input class="form-control" id="firstName" placeholder="name@example.com" th:field="*{firstName}"
                           th:type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phoneNumber">phone Number</label>
                    <input class="form-control" id="phoneNumber" placeholder="name@example.com" th:field="*{phoneNumber}"
                           th:type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email address</label>
                    <input class="form-control" id="email" placeholder="name@example.com" th:field="*{email}"
                           th:type="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" id="password" placeholder="Enter password" th:field="*{password}"
                           th:type="password">
                </div>
                <div class="form-check d-flex justify-content-center mb-5">
                    <input
                            class="form-check-input me-2"
                            id="form2Example3c"
                            type="checkbox"
                            value=""
                    />
                    <label class="form-check-label">
                        I agree all statements in <a th:href="@{/term}">Terms of service</a>
                    </label>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input type="submit" class="btn btn-primary btn-lg" value="Register" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>